<nz-page-header [nzGhost]="false" nzBackIcon nzTitle="Gift Cards" nzSubtitle="List of all gift card batches">
  <nz-page-header-extra>
    <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>{{ 'profile.add' | translate
      }}</button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-table #table nzShowSizeChanger [nzFrontPagination]="false" *ngIf="(query | async)?.data?.giftBatches as gifts"
      [nzData]="gifts.nodes" [nzTotal]="gifts.totalCount"
      (nzQueryParams)="tableService.onTableQueryParamsChange($event)" nzBordered>
      <thead>
        <tr>
          <th>{{ 'profile.name' | translate }}</th>
          <th>Availability Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of table.data" [routerLink]="'view/' + data.id" class="group cursor-pointer">
          <td>
            <div>
              <div class="table-first-line">
                {{ data.name }}
              </div>
              <div class="table-second-line">
                {{ 'Amount: ' + (data.amount | currency: data.currency) + ', Quantity: ' +
                ((data.totalUnused[0].count?.id ?? 0) + (data.totalUsed[0].count?.id ?? 0)) }}
              </div>
            </div>
          </td>
          <td>{{ data.availableFrom | date: 'mediumDate'}} - {{data.expireAt | date: 'mediumDate'}}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-page-header-content>
</nz-page-header>